.container {
  background-image: url("../img/Background\ SVG.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

/* Modal Close Button */
.react-responsive-modal-closeButton svg {
  border: 1px solid #dfe0e0;
  border-radius: 5px;
  fill: #dfe0e0;
}