/* About Button */
.about-btn {
    display: flex;
    position: relative;
    left: 10%;
    top: 20%;
    width: 170px;
}

.about-btn p {
    color: #f23557;
    cursor: pointer;
    font-size: 1.875em;
    font-weight: normal;
    margin-right: 0.5em;
    margin-top: -10px;
}

.notShowing {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

.showing {
    visibility: visible;
    transition: visibility 1s, opacity 0.5s linear;
    opacity: 1;
}

/* About Content */
.aboutModal {
    background: rgba(46, 48, 54, 0.44) !important;
    border: 1px solid #dfe0e0;
    border-radius: 10px;
    max-width: 1200px !important;
}

.about-container {
    display: flex;
    color: #dfe0e0;
    padding: 2em;
}

.bio-info {
    background-color: rgba(242, 53, 87, 0.63);
    border-radius: 10px;
    padding: 2em;
    width: 50%;
}

.bio-info h3 {
    font-size: 1.5em;
}

.bio-info p {
    font-size: 1.25em;
    line-height: 1.3;
}

.bio-info hr {
    margin: 1.5em auto;
    width: 95%;
}

.bio-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2em;
    width: 50%;
}

.bio-image img {
    width: 90%;
}

/* Social Links */
.social-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-block a {
    color: #dfe0e0;
}

.social-block a i {
    font-size: 3em;
}