/* About Button */
.about-btn {
    display: flex;
    position: relative;
    left: 10%;
    top: 20%;
    width: 170px;
}

.about-btn p {
    color: #f23557;
    cursor: pointer;
    font-size: 1.875em;
    font-weight: normal;
    margin-right: 0.5em;
    margin-top: -10px;
}

.notShowing {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

.showing {
    visibility: visible;
    transition: visibility 1s, opacity 0.5s linear;
    opacity: 1;
}