/* Contact Button */
.contact-btn {
    display: flex;
    position: relative;
    left: 74%;
    top: 2%;
    width: 220px;
}

.contact-btn img {
    margin-right: 1em;
    margin-top: -40px;
}

.contact-btn p {
    color: #f0d43a;
    cursor: pointer;
    font-size: 1.875em;
    font-weight: normal;
}

.notShowing {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

.showing {
    visibility: visible;
    transition: visibility 1s, opacity 0.5s linear;
    opacity: 1;
}