/* Contact Button */
.contact-btn {
    cursor: pointer;
    display: flex;
    position: relative;
    left: 74%;
    top: 2%;
    width: 220px;
}

.contact-btn img {
    margin-right: 1em;
    margin-top: -40px;
}

.contact-btn p {
    color: #f0d43a;
    font-size: 1.875em;
    font-weight: normal;
}