.footer {
    position: absolute;
    bottom: 1%;
    width: 100%;
}

.footer h2 {
    color: #292f34;
    font-size: 1.8rem;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
}